    * {
        margin: 0%;
        padding: 0%;
        font-family: Arial;
    }
    
    
    header {
        background-color: aliceblue;
        height: 70px;
    }
    
    #solar {
        float: left;
    }

    nav {
        float: right;
    }

    nav > ul > li
    {display: inline-block;}
    
    #section1 {
        background-image: url("../img/painelsolar.jpg");
        /* Full height */
        height: 300px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        #comofunciona>article{
            width: 33%;
            display: inline-block;
        }

        #dados>figure>article{
            width: 33%;
            display: inline-block;
        }

        #comentario {
            background-color: blue;
            text-align: center;
        }

        #noticia>figure>article>button{
            width: 33%;
            display: inline-block;
        }

        footer>p>figure{
            text-align: center;
            display: inline-block;
        }