    * {
        margin: 0%;
        padding: 0%;
        font-family: Arial;
    }
    
    
    header {
        background-color: aliceblue;
        height: 150px;
    }

    #titulo {
        color: aliceblue;
        font-size: 50px;
        font-weight: 200;
        float:left;
        display: block;
        padding: 100px;
    }
    
    #solar {
        float: left;
        color:75, 73, 160, 255
    }
    
    

    nav{
        float: right;
        font-size: 20px;
        padding: 25px;
        margin: 0px 10px 0px 10px;
    }

    nav>article>button{
        color: aliceblue;
    }
    
    nav>ul>li>a{

        color:rgb(80, 45, 236);
        border-color: rgba(75, 73, 160, 255);
    }
    

    nav > ul > li
    {display: inline-block;}
    
    #section1 {
        background-image: url("../img/painelsolar.jpg");
        
        height: 300px;
        

        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 0px 20px;
        }   

    #section1>h1{
        color:white ;
    }
    #botaosolicite{
        color:white;
        background-color: rgba(30, 152, 225, 225);
        float: left;
        padding:20px;
        
    }

        #comofunciona>article{
            width: 33%;
            display: inline-block;
            padding: 20px 0px 20px;
            text-align: center;
        }
            #dados{
                padding: 20px 0px 20px;
                text-align: center;
            }
        #dados>figure{
            width: 33%;
            display: inline-block;
        }
        
        #botao {
            display:inline-block;
            text-align: center;
            margin: auto;
        }

        #comentario {
            padding: 30px;
            background-color: rgb(37,150,190);
            color: rgba(205,215,218,255);
            margin: 40px 0px 40px 0px;
            height: 100%;
            text-align: center;
        }
        
    #dados2>article{
        width: 33%;
        display: inline-block;
        text-align: center;
    }
    
    #botaoprojetos {
        padding: 10px;
        color: rgba(52, 156, 220, 255);
        border-color: rgba(52,156,220,255);
        margin: 20px;
    }
    

    #noticias>article{
        width: 33%;
        display: inline-block;
        padding: 20px 0px 20px;
        
        
    }
    #noticias {
        text-align: center;
        padding: 20px 0px 20px
    }
    #solarverifica>article {
        width: 33%;
        text-align: center;
        display: inline-block;
    }

        #solarverifica{
            background-color: rgba(68, 70, 69, 255);
            color: rgba(254, 254, 254, 255);
        }

        #solarverifica>article>ul>li>a{
            list-style: none;
            margin: 20px 0px 10px 0px;
            
        }

        #solarverifica>article>ul>li>a{
            color: white;
        }

        #solarverifica>article>ul{
            list-style: none;
        }
    
        #palavra226 {
        color:rgb( 28,151,220,255);
        font-size: 50px;
    }

    footer>figure{
        float: right;
    }
    
    
